*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
} 

body{
    max-width: 1920px;
    max-height: 9291px;
}

img {
    max-width: 100%;
    display: block;
  }

.gradient-background{
    background: linear-gradient(0deg, rgba(244, 244, 244, 0.00) 1.64%, #E8E8E8 9.99%, #F3F3F3 53.09%, rgba(255, 255, 255, 0.00) 87.98%);
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto 0 auto;
    padding-right: 32px;
    padding-left: 32px;
}

.container .fluid {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}


.over-flow{
    overflow: auto;
}

.over-flow-invisible::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.none{
    display: none;
}

/*==========Font================*/
.titulo-o-sucesso-p3 h1{ 
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 48.936px */
    letter-spacing: 0.96px;
    margin-bottom: 14px;
}

.titulo-o-sucesso-p3 h2{
    color: #000;
    font-size: 10.858px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.854px;
    text-transform: uppercase;
}

.o-sucesso-p3-1-1 ul{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 145% */
}

.o-sucesso-p3-1-1 p{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}


.login-bar-top button{
    color: #555;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    
}

.ladeira-box h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 48.936px */
    letter-spacing: 0.96px;
    margin-bottom: 35px;
}

.ladeira-box h2{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 21px;
}

.second-ladeira-box h2{
    line-height: 101.95%; /* 24.468px */
    letter-spacing: 0.48px;
}

.ladeira-box p{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 173.333% */
    margin-bottom: 21px;
}

.a-logica-p3-direita{
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.a-logica-p3-direita p{
    margin-bottom: 28px;
}

.a-logica-p3-esquerda-1 h1{
    color: #000;
    font-family: Inter;
    font-size: 10.858px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.854px;
    text-transform: uppercase;
}

.a-logica-p3-esquerda-1 h2{
    color: #000;
    font-size: 41.514px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 42.324px */
    letter-spacing: 0.83px;
    margin-bottom: 28px;
}

.a-logica-p3-esquerda-1 h3{
    color: #000;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.assinar-bar button{
    color: #000;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4.76px;
    text-transform: uppercase;
}

.assinar-bar h1{
    color: #6DC300;
    text-align: center;
    font-family: Anek Gujarati;
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 32.426px; /* 98.259% */
}

.assinar-bar h2{
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.assinar-bar h3{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.plataformas h3{
    color: #9B9B9B;
    font-family: Anek Gujarati;
    font-size: 10.194px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 55.779px;
    height: 14.461px;
}

.plataformas h4{
    width: 95.992px;
    height: 14.269px;
    color: #9B9B9B;
    font-family: Sora;
    font-size: 14.269px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aula-mestra h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 48.936px */
    letter-spacing: 0.96px;
}

.aula-mestra ul{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 190%; /* 30.4px */
    text-align: justify;
    text-wrap: nowrap;
}
.tabela-titulo{
    color: #000;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 48.936px */
    letter-spacing: 0.96px;
}

.tabela th{
    color: #000;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140.5%; /* 21.075px */
    text-transform: uppercase;
    text-align: center;
}

.tabela td{
    max-width: 329px;
    max-height: 46px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 190%; /* 24.7px */
} 

#tabela-vantagens{
    max-width: 314px;
    color: #000;
    font-size: 18.243px;
    font-style: normal;
    font-weight: 300;
    line-height: 140.5%; /* 25.632px */
    letter-spacing: 21.892px;
    text-transform: uppercase;
}

.tabela button{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.embasamento h1{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.95%; /* 48.936px */
    letter-spacing: 0.96px;
}

.embasamento h2{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 173.333% */
}

.copyright{
    color: #7C7C7C;
    text-align: center;
    font-family: Anek Gujarati;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 233.333% */
}
/*=================Font=================*/

/* Header*/

.login-bar-top{
    width: 100%;
    max-width: 1680px;
    max-height: 73px;
    flex-shrink: 0;
    border-radius: 0px 0px 10px 0px;
    background: #000;
    position: absolute;
    display: flex;
    justify-content: space-between;
    
}

.login-bar-top button{
    max-width: 181px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #000;
    justify-content: space-between;
    text-align: center;
    gap: 9px;
}

.login-bar-top button:hover{
    cursor: pointer;
}

.login-bar-top button img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#logo-p3-top{
    width: 91px;
    height: 91px;
    flex-shrink: 0;
    margin: 26px 240px;
}

.svg-titulo{
    position: absolute;
    margin: 301px 419px 1498px 913px;
    z-index: 10;
    transform: rotate(90deg);
}

#svg-titulo{
    max-width: 288px;
    max-height: 288px;
    flex-shrink: 0;
    position: absolute;
    margin: 59px 54px 21px 61px;
}

#blur-svg{
    position: relative;
    margin: 90px 120px 120px 70px;
    transform: rotate(90deg);
}

.main-title h1{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 105.45%; /* 67.488px */
    letter-spacing: 1.28px;
    margin: 298px auto 0;
}

.main-title{
    position: absolute;
    margin: 171px 460px auto 461px;
    z-index: 100;
}

.main-title h2{
    width: 999px;
    height: 89px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.95%; /* 40.944px */
    letter-spacing: 0.64px;
    margin: auto;

}

.main-title p{
    width: 760px;
    height: 23px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
   
}

.retangle{
    width: 2px;
    height: 68px;
    transform: rotate(90deg);
    border-radius: 13px;
    background: #E7E7E7;
    margin: auto;
}

.main-title button{
    display: flex;
    width: 303px;
    padding: 18px 37px 18px 20px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    border-radius: 7px;
    background: #000;
    margin: auto;
    transition: 300ms;
    
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-title button img{
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: transform 300ms;
}

.main-title button:hover{
    transition: background-color 300ms, color 300ms;
    background-color: #FFF;
    color: #555;
    cursor: pointer;
}

.main-title button:hover img{
    transform: translateX(20px);
}
/* Header*/

.first-box{
    margin: 1050px auto 113px;
}

.first-ladeira-box{
    display: flex;
    margin: 171px auto auto 50px;
    align-items: center;
}

.ladeira-box{
    width: 524px;
    height: 487px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 10px;
    position: relative;
    padding: 70px;
}

#second-ladeira-box{
    padding: 47px;
}

.first-box-pic{
    display: flex;
    width: 246.912px;
    height: 365px;
    flex-shrink: 0;
    border-radius: 10px;
    gap: 10px;
}

.second-box-pic{
    display: flex;
    width: 249.879px;
    height: 371px;
    flex-shrink: 0;
    border-radius: 10px;
    gap: 10px;
    
}

.second-ladeira-box{
    display: flex;
    margin: 3px auto auto 74px;
    align-items: center;
    gap: 253.12px;
}

.a-logica-p3{
    display: flex;
    margin: 171px auto auto auto;
    gap: 10px;
}

.a-logica-p3-esquerda{
    width: 100%;
    height: 100%;
    max-width: 776px;
    max-height: 905px;
    background-color: #FFF;
    border-radius: 10px;
}

.line-logica{
    margin: 122px auto auto ;
    width: 100%;
    max-width: 775px;
    height: 1px;
    background: #D9D9D9;
}

.a-logica-p3-esquerda-marcador{
   margin: 14px 20px auto auto;
}

.a-logica-p3-direita{
    width: 100%;
    height: 100%;
    max-width: 1134px;
    max-height: 905px;
    border-radius: 10px;
    background: #000;
    padding: 107px 322px 104px 101px;
    overflow-y: scroll;
}

.a-logica-p3-esquerda-1{
    padding: auto;
    margin: 162px auto auto 240px;
}

.a-logica-p3-esquerda-1 img{
    width: 28.561px;
    height: 28.561px;
}

.o-sucesso-p3{
    display: flex;
    width: 1185px;
    height: 660px;
    flex-shrink: 0;
}

.o-sucesso-p3-1{
    justify-content: space-between;
}

.o-sucesso-p3-1-1{
    flex-direction: column;
    
}

.o-sucesso-p3-1-1 img{
    margin-bottom: 10px;
}

.o-sucesso-p3-1-1 ul{
    margin: 42px auto 65px;
}

.o-sucesso-p3-1-1 li{
    margin-left: 23px;
    margin-bottom: 42px;
}

.o-sucesso-p3-1-2{
    margin: auto 24px 10px 122px;
}

.o-sucesso-p3-1-2 ul li{
    margin-bottom: 10px;
    list-style: none;
}

.o-sucesso-p3-2-1{
    width: 75px;
    height: 363px;
    object-fit: contain;
}

.o-sucesso-p3-2{
    position: absolute;
    margin: 72.5px 0 auto 1185px;
}

.titulo-o-sucesso-p3{
    margin: 155px 1130px 105px 448px;
}

.planner-bar{
    width: 1198px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    display: flex;
    
    justify-content: center;
    margin-top: 173px;
}

.simbolos{
    width: 100%;
    max-width: 1180px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.simbolos div{
    width: 100%;
    max-width: 229px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.planner3-com{
    width: 100%;
    height: 100%;
    max-width: 741px;
    max-height: 37px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 5px;
}

.simbolos-block-2{
    width: 100%;
    max-width: 82px;
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.planner3-com div{
    display: flex;
    gap: 9px;
}

.image-15{
    width: 15px;
    height: 15px;
}

.image-16{
    width: 16px;
    height: 16px;
    gap: 4px;
    display: flex;
}


.image-18{
    display: flex;
    width: 18px;
    height: 18px;  
    gap: 4px;
}

.image-19{
    width: 19px;
    height: 19px;
}

.gif-p3{
    display: flex;
}

.gif-p3-1{
    width: 1200px;
    height: 670px;
    border: 15px solid;
    border-radius: 10px;
    border-color: #F5F5F5;
    margin-top: 24px;
    position: relative;
    object-fit: cover;
    padding: 0;
}


.gif-p3-2{
    width: 309px;
    height: 657px;
    border-radius: 10px;
    position: absolute;
    object-fit: cover;
    object-position: 0 70%;
    margin: 200px 0 0 959px;
    box-shadow: 19px 22px 39px 0px rgba(0, 0, 0, 0.10); /*check that right*/
}

.assinar-bar{
    display: flex;
    width: 1222px;
    height: 101px;
    padding: 22px 19px;
    align-items: center;
    gap: 32px;
    border-radius: 8px;
    background: #000;
    margin-top: 347px;
}

.assinar-bar button{
    width: 366px;
    height: 57px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #93EC22;
    transition: 300ms;
}

.assinar-bar button:hover{
    transition: background-color 300ms;
    background-color: #FFF;
    cursor: pointer;
}

.assinar-bar h1{
    display: flex;
    width: 136.457px;
    height: 40.532px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.assinar-bar h2{
    display: flex;
    width: 118px;
    height: 28px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-left: -30px;
}

.assinar-bar h3{
    width: 157px;
    flex-shrink: 0;
}

.plataformas{
    display: inline-flex;
    align-items: flex-start;
    gap: 412px;
    margin: 23px 381px 23px;
}
.plataformas div{
    display: flex;
    gap: 9px;
}

.line{
    max-width: 1920px;
    color: #D9D9D9;
    border: 1px solid;
    margin-top: 24px;
}

.line-2{
    max-width: 1920px;
    color: #D9D9D9;
    border: 1px solid;
}

.aula-mestra img{
    display: inline-flex;
    align-items: flex-start;
    position: relative;
}

.bonus-circulo{
    display: flex;
    max-width: 250px;
    max-height: 250px;
    transform: rotate(190.623deg);
    align-items: center;
}

.blur-2{
    width: 114px;
    height: 206px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0.41%, rgba(255, 255, 255, 0.61) 20.16%, #FFF 27.6%, #FFF 67.93%, rgba(255, 255, 255, 0.78) 74.65%, rgba(255, 255, 255, 0.00) 99.59%);
    position: absolute;
}

.aula-mestra{
    position: absolute;
    margin: 152px auto auto 490px;
    display: flex;
}

.aula-mestra-text{
    margin: 105px 120px auto -90px;
}

.aula-mestra h1{
    width: 310px;
    height: 55px;
    flex-shrink: 0;
    position: relative;
}

.aula-mestra ul{
    max-width: 530px;
    height: 86px;
    flex-shrink: 0;
    position: relative;
    list-style: none;
    position: relative;
}

.aula-mestra ul img{
    max-width: 11.898px;
    max-height: 11.898px;
    border-radius: 21.999px;
    background: #D4D4D4;
    margin-right: 9px;
}

.aula-mestra li{
    margin-bottom: 5px;
}

.tabela{
    max-width: 1259px;
    max-height: 224px;
    padding: 0;
    border-collapse: collapse;
    border-collapse:separate;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}


.tabela-titulo{
    max-width: 1222px;
    margin-top: 601px;
    margin-bottom: 63px;
}

.tabela th{
    max-width: 398px;
    max-height: 88px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #FFCBBA;
    padding: 20px;
}

.tabela td{
    border-bottom: 0.1px #D9D9D9 solid;
    padding: 10px;
    text-align: center;
}

.tabela td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#tabela-1-coluna{
    text-align: left;
}

#tabela-app3{
    max-width: 224px;
    max-height: 88px;
    flex-shrink: 0;
    background: #FFF46E;
    border-top: 2px solid #FAE803;
} 

#tabela-vantagens{
    max-width: 368px;
    max-height: 88px;
    flex-shrink: 0;
    background: #d0ffba;
}

.yellow-border{
    border-left: 2px solid #FAE803;
    border-right: 2px solid #FAE803;
}

#yellow-border-bottom{
    border-bottom: 2px solid #FAE803;
    border-radius: 0 0 10px 10px;
}

#tabela-no-border{
    border-bottom: none;
}

.tabela button{
    display: flex;
    max-width: 176px;
    padding: 18px 67px 18px 44px;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 10px;
    border-radius: 7px;
    background: #000;
    transition: 300ms;
    margin-left: 15px;
}

.tabela button img{
    max-width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 300ms;
}


.tabela button:hover{
    transition: background-color 300ms, color 300ms;
    background-color: #FFF;
    color: #555;
    cursor: pointer;
}

.tabela button:hover img{
    transform: translateX(10px);
}

.embasamento h1{
    width: 100%;
    max-width: 652px;
    margin: 160px 849px 20px auto;
}

.embasamento h2{
    width: 100%;
    max-width: 871px;
    max-height: 82px;
    flex-shrink: 0;
    margin: 21px auto auto 0;
}

.estudos{
    align-content: center;
    display: flex;
    margin-left: 370px;
}

.estudos-1{
    z-index: 100;
    position: absolute;
    width: 100%;
    max-width: 1225px;
    max-height: 674.383px;
    margin: -64px;
}

#estudos-arrow-1{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 266px 27px 326px -50px;
}

#estudos-arrow-2{
    display: flex;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 266px auto 326px 27px;
}

#estudos-box{
    width: 1082px;
    height: 442px;
    background-color: #cbc3bb2f;
    position: relative;
    border-radius: 10px;
    margin: 50px 5px;
}

.copyright{ 
    width: 100%;
    max-width: 762px;
    height: 31px;
    flex-shrink: 0;
    margin-left: 28%;
    margin-bottom: 100px;
}

@media (max-width: 1024px)
{  
    body{
        background: #EBEBEB;
    }

    .none{
        display: block;
    }
    
    .none-phone{
        display: none;
    }

    .login-bar-top button{
       font-size: 10px;
    }

    .login-bar-top button img{
        width: 30px;
        height: 30px;
    }

    #logo-p3-top{
        max-width: 63px;
        max-height: 63px;
        flex-shrink: 0;
        margin: 9%
    }

    .svg-titulo{
        width: 300px;
        margin: 100px;
    }

    #svg-titulo{
        margin: -90px  auto auto 120px;
        width: 250px;
    }

    #blur-svg{
        margin: -50px auto auto 165px;
    }
    
    .main-title{
        position: absolute;
        margin: 5px 30px auto 5px;
        z-index: 100;
    }

    .main-title h1{
        font-size: 31px;
    }

    .main-title h2{
        font-size: 20px;
        width: 354px;
        height: 77px;
        margin-top: 12px;
    }

    .main-title p{
        width: 388px;
        height: 30px;
        margin-top: 34px;
        font-size: 14px;
    }

    .retangle{
        margin: -10px auto;
    }

    .main-title button{
        margin-top: -10px;
    }

    .first-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 672px 14px auto 0;
        padding: 0;
    }

    .first-box img{
        width: 177px;
        height: 262px;
    }

    .first-ladeira-box{
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        margin-left: 14px;
    }

    .ladeira-box{
        width: 365px;
        padding: 37px 20px 0 18px;
    }

    

    .first-ladeira-box h1{
        font-size: 33px;
        width: 80%;
    }

    .first-ladeira-box .second-ladeira-box h2{
        font-size: 20px;
        margin-top: -15px;
    }

    .first-ladeira-box .second-ladeira-box p{
        font-size: 14px;
        width: 325px;
    }
    
    .first-box-pic{
        margin: -100px auto auto 0;
        position: relative;
    }

    .second-ladeira-box{
        display: flex;
        flex-direction: column-reverse;
    }

    #second-ladeira-box{
        padding: 22px 15px;
        height: 559px;
        margin: -60px auto auto -63px;
    }

    .second-box-pic{
        margin: -310px auto auto -62.5px;
        z-index: 100;
    }

    .a-logica-p3{
        display: flex;
        flex-direction: column;
        margin-top:-38px;
    }

    .a-logica-p3-esquerda-1{
        height: 350px;
        text-align: left;
        padding: 83px 0 104px 33px;
    }

    .a-logica-p3-esquerda-1 h1{
        font-size: 10px;
    }

    .a-logica-p3-esquerda-1 h2{
        font-size: 33px;
    }

    .a-logica-p3-esquerda-1 h3{
        font-size: 17px;
    }

    .a-logica-p3-esquerda-1 img{
        transform: rotate(90deg);
        margin-top: 40px;
    }

    .a-logica-p3-direita{
        padding: 27px 33px;
        height: 1057px;
        border-radius: 0;
    }

    .a-logica-p3-direita p{
        font-size: 14px;
    }

    .titulo-o-sucesso-p3{
        margin: 96px auto auto 46px;
        width: 320px;
    }

    .titulo-o-sucesso-p3 h1{
        font-size: 33px;
    }

    .titulo-o-sucesso-p3 h2{
        font-size: 10px;
    }

    .o-sucesso-p3{
        width: auto;
    }

    .o-sucesso-p3 ul{
        font-size: 12px;
        margin-bottom: 21px;
    }

    .o-sucesso-p3 li{
        margin-bottom: 10px;
    }

    .o-sucesso-p3 p{
        font-size: 14px;
        width: 317px;
        margin-left: 8px;
    }

    .planner-bar{
        width: 370px;
        margin: -305px -25px -10px;
    }

    .planner-bar p{
        font-size: 12px;
    }

    .planner3-com{
        width: auto;
        padding: 5px 20px 7px 23px;
        display: flex;
        flex-direction: row-reverse;
        gap: 14px;
    }

    .simbolos{
        width: 350px;
    }

    .simbolos-block-2{
        display: none;
    }

    .image-16{
        width: 12px;
    }

    .image-18{
        width: 18px;
    }

    .gif-p3-phone{
        width: 370px;
        height: 493px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #F5F5F5;
        box-shadow: 19px 22px 39px 0px rgba(0, 0, 0, 0.10);
        margin: 24px 11px auto -25px;
        padding: 0;
    } 
    
    .gif-p3-1{
        width: 260px;
        height: 490px;
        border-radius: 10px 0px 0px 10px;
        object-position: 19% 0;
        margin: auto;
    }

    .gif-p3-1-2{
        width: 200px;
        height: 395px;
        flex-shrink: 0;
        border-radius: 7.088px;
        position: absolute;
        object-fit: cover;
        object-position: 81.5%;
        margin: -470px 170px auto;
        padding: 0;
    }

    .gif-p3-2{
        width: 201px;
        height: 350px;
        border-radius: 7.277px;
        position: absolute;
        object-fit: cover;
        object-position: 0 80%;
        margin: -90px 170px auto;
    }

    .assinar-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 22px;
    }

    .assinar-bar button{
        width: 340px;
        margin: auto 5px auto;
    }
    
    .assinar-bar-phone-1{
        display: flex;
        justify-content: center;
        gap: 27px;
        margin: 29px auto 0 auto;
    }

    .assinar-bar-phone-1 h1{
        font-size: 33px;
    }

    .assinar-bar-phone-1 h2{
        margin-top: 4px;
    }

    #assinar-bar-phone-vector{
        width: 1px;
        height: 325px;
        transform: rotate(90deg);
        padding: 0;
        margin: -140px auto;
        object-fit: cover;
    }

    .assinar-bar-phone-2{
        display: flex;
        gap: 8px;
    }

    .assinar-bar-phone-2 h3{
        font-size: 12px;
        margin-top: 5px;
    }
    
    .plataformas{
        display: flex;
        justify-content: space-between;
        gap: 0;
        margin: 30px 12px auto;
    }

    .aula-mestra{
        width: 100%;
        height: 500px;
        margin: 198px auto;
        text-align: center;
        padding: 0;
    }

    .bonus-circulo{
        width: 100%;
        transform: rotate(180deg);
        position: absolute;
        margin-top: -100px;
    }

    .blur-2{
        background: linear-gradient(180deg, rgba(235, 235, 235, 0.00) 0.41%, rgba(235, 235, 235, 0.61) 20.16%, #EBEBEB 27.6%, #EBEBEB 67.93%, rgba(235, 235, 235, 0.78) 74.65%, rgba(235, 235, 235, 0.00) 99.59%);
    }

    .aula-mestra-text{
        width: 100%;
        margin: 10px auto;
    }

    .aula-mestra-text h1{
        font-size: 33px;    
        width: 100%;
    }

    .aula-mestra ul{
        margin-top: 144px;
        margin-bottom: auto;
        width: 100%;
        height: 439px;
        padding: 10px;
    }

    .aula-mestra li{
        margin-top: 10px;
        height: 80px;
    }

    .tabela-titulo{
        width: 100%;
        margin-top: 800px;
        font-size: 33px;
    }

    .tabela{
        width: 100%;
        height: auto;
        margin: auto auto auto -30px;
    }

    #tabela-vantagens{
        font-size: 14px;
        letter-spacing: 2.8px;
        padding: 16px 26px 15px 30px;
    }


    .tabela th{
        font-size: 12px;
    }

    .tabela-th-2{
        padding: 6px !important;
    }

    .tabela-th-2 p{
        font-size: 7px;
    }

    #tabela-app3{
        text-align: center;
        padding: 9px;
    }

    #tabela-app3 p{
        justify-content: first baseline;
        width: 50px;
    }

    #tabela-1-coluna{
        font-size: 10px;
    }

    #tabela-button{
        color: #FFF;
        text-align: right;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #tabela-button{
        display: flex;
        width: 326px;
        padding: 18px 67px 18px 44px;
        justify-content: center;
        align-items: center;
        align-self: center;
        gap: 10px;
        border-radius: 7px;
        background: #000;
        transition: 300ms;
        margin: 32px auto;
    }
    
    #tabela-button img{
        max-width: 22px;
        height: 22px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        transition: 300ms;
    }
    
    
    #tabela-button:hover{
        transition: background-color 300ms, color 300ms;
        background-color: #FFF;
        color: #555;
        cursor: pointer;
    }
    
    #tabela-button:hover img{
        transform: translateX(10px);
    }

    .estudos-phone{
        width: 100%;
        height: auto;
        margin: 53px auto;
        display: flex;
        flex-direction: column;
    }

    #estudos-phone-arrow-2{
        position: relative;
        margin: 0 auto 0 32px;
    }

    .estudos-phone p{
        width: 100px;
        color: #000;
        font-size: 10px;    
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        margin: 0 auto 0 32px;
    }

    .estudos-phone img{
        margin-top: -200px;
    }

    .copyright{
        height: 500px;
        margin: -50px auto;
    }

}